package com.creativegame.pratik;

import java.util.Scanner;

/**
 * Represent a Guesser.
 * A Guesser guesses a number.
 * 
 * @author Pratik
 * @version 16.0.1
 * @since 2021-07-06
 */
class Guesser {
/**
 * The number collected from the Guesser.
 */
	private int gnum;
	
/**
 * This method collects the number from the Guesser.
 * 
 * @param low The lowest permissible value.
 * @param high The highest permissible value.
 * @return the number collected from the Guesser.
 */
	int guessNum(int low, int high) {
		System.out.println("Guesser! Kindly guess the number between " +low+" to "+high);
		
		Scanner scan = new Scanner(System.in); 
		gnum = scan.nextInt();
		if((gnum >= low) && (gnum <= high))
		{
			return gnum;
		}
		else
		{
			System.out.println("Please guess a valid number within the range specified");
			return guessNum(low, high);
		}
	}
}

/**
 * Represent a Player.
 * A player predicts a number.
 * 
 * @author Pratik
 *@version 16.0.1
 *@since 2021-07-06
 */
class Player {
/**
 * The number predicted from the Player.
 */
	private int pnum;
	
/**
 * This method collects the predicted number from the Player.
 * 
 * @param low The lowest permissible value
 * @param high The highest permissible value
 * @return The predicted value from Player
 */
	
	int predictNum(int low, int high) {
		System.out.println("Player! Kindly predict the number between " +low+" to "+high);
		
		Scanner scan = new Scanner(System.in);
		pnum = scan.nextInt();
		if((pnum >= low) && (pnum <= high))
		{
			return pnum;
		}
		else
		{
			System.out.println("Please predict a valid number within the range specified");
			return predictNum(low, high);
		}
	}
}

/**
 * Represent an Umpire.
 * An Umpire declares the winner.
 * 
 * @author Pratik
 *@version 16.0.1
 *@since 2021-07-06
 */
class Umpire {
	/** The number guessed by the Guesser.*/
	private int numFromGuesser;
	/** The number predicted by the Player1*/
	private int numFromPlayer1;
	/** The number predicted by the Player2*/
	private int numFromPlayer2;
	/** The number predicted by the Player3*/
	private int numFromPlayer3;
	
	/**
	 * This method collect the number from the Guesser
	 * and store the number in numFromGuesser field.
	 * 
	 * @see Guesser
	 */
	void collectNumFromGuesser()
	{
		Guesser g = new Guesser();
		numFromGuesser = g.guessNum(1, 20);
	}
	/**
	 * This method collects the numbers from the Players
	 * and stores the predicted number in numFromPlayer1,
	 * numFromPlayer2 and numFromPlayer3 respectively.
	 * 
	 * @see Player
	 */
	void collectNumFromPlayers()
	{
		Player p1 = new Player();
		Player p2 = new Player();
		Player p3 = new Player();
		
		numFromPlayer1 = p1.predictNum(1, 20);
		numFromPlayer2 = p2.predictNum(1, 20);
		numFromPlayer3 = p3.predictNum(1, 20);
	}
	/**
	 * This method compares the guessed number from the Guesser
	 * with the predicted numbers from the Players.
	 * And also the winner is announced, if any.
	 */
	void compare()
	{
		if(numFromGuesser == numFromPlayer1)
		{
			System.out.println("Player1 wins it");
		}
		if(numFromGuesser == numFromPlayer2)
		{
			System.out.println("Player2 wins it");
		}
		if(numFromGuesser == numFromPlayer3)
		{
			System.out.println("Player3 wins it");
		}
		else if(numFromGuesser != numFromPlayer1 && numFromGuesser != numFromPlayer2 && numFromGuesser != numFromPlayer3)
		{
			System.out.println("Game Lost! Try Again");
		}
	}
}

/**
 * Driver class to start the application.
 * 
 *@author Pratik
 *@version 16.0.1
 *@since 2021-07-06
 */
public class CreativeGame {
/**
 * Repeats the game thrice.
 */
	final static int CHANCES = 3;
	
/**
 * This is the main method which makes use of collectNumFromGuesser,
 * collectNumFromPlayers and compare methods.
 * 
 * @param args unused.
 * 
 * @see Guesser
 * @see Player
 * @see Umpire
 */
	public static void main(String[] args)
	{
		Umpire u = new Umpire();
		
		int i = 1;
		while(i<= CHANCES)
		{
			u.collectNumFromGuesser();
			u.collectNumFromPlayers();
			u.compare();
			++i;
		}
	}
}
